@charset "utf-8";
/* CSS Document */

html body{
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
		
}

/* Nav */

.nav-header{
	position: fixed;
	top: 0;
	left: 0;
	padding: 0 100px;
	background-color: rgba(2,22,79,0.5);
	width: 100%;
	height: 80px;
	box-sizing: border-box;
	z-index: 99;
}
.nav-header .logo{
	color: #fff;
	height: 50px;
	line-height: 50px;
	padding: 17px;
	font-size: 24px;
	float: left;
	font-weight: bold;
	
}

.nav-header nav{
	float: right;

	
}

.nav-header nav ul{
	margin: 0;
	padding: 0;
	display: flex;
}

.nav-header nav ul li{
	list-style: none;
}

.nav-header nav ul li a{
	height: 50px;
	line-height: 50px;
	padding: 15px;
	color: #ffffff;
	text-decoration: none;
	display: block;
}

.nav-header nav ul li a:hover,
.nav-header nav ul li a.active
{
	color: #FFFFFF;
	background-color: #2196f3;
	height: 80px;

}

.menu-toggle{
	color: #FFFFFF;
	float: right;
	line-height: 50px;
	font-size: 24px;
	cursor: pointer;
	display: none;
}

@media(max-width: 768px){
	.nav-header{
		padding: 0 20px;
		height: 50px;
	}
	
	.nav-header .logo{
		padding: 0;
	}
	.menu-toggle{
		display: block;
	}
	.nav-header nav{
		
		position: absolute;
		width: 100%;
		height: 100vh;
		background-color: rgba(2,22,79,0.8);
		top: 50px;
		left: -100%;
		transition: 0.5s;
	}
	
	header nav.active{
		left: 0;
	}
	
	.nav-header nav ul{
		display: block;
		text-align: center;
	}
	
	.nav-header nav ul li a{
		border-bottom: 1px solid rgba(0,0,0,.2);
	}
}

/* End Nav */

/* Social Icons */

.social-icon ul li{
	list-style: none;
	float: left;
	margin: 10px;
	
}

.social-icon ul li a{
	position: relative;
	left: -30px;
	width: 60px;
	height: 60px;
	display: block;
	text-align: center;
	line-height: 60px;
	box-shadow: 0 0 0 2px #ffffff;
	border-radius: 50%;
	font-size: 30px;
	color: white;
	transition: 0.5s;
	overflow: hidden;
}

.social-icon ul li a:before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transition: .5s;
	background: white;
	z-index: -1;
	transform: rotate(-45deg) scaleX(0);
}

.social-icon ul li a:hover{
	color: #00b8d4;
}

.social-icon a:hover:before{
	transform: rotate(-45deg) scaleX(1);
}

/* End Social Icons */

/* Image Top */

.bg-home{
	background-image: url(../img/bg-home.jpg);
	background-position: right;
	background-repeat: no-repeat;
	position:relative;
	overflow: hidden;
	z-index: 1;
}

.p-home{
	padding-top: 90px;
}


.section-home-opacity{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	z-index: 1;
	
}

#redux{
	cursor: pointer;
}

/* End Image Top */

/* Text */
.text{
	color: aliceblue;
	
}

.text h1{
	font-size: 60px;
	line-height: 70px;
	letter-spacing: 0.05px;
	font-weight: 300;
	color: aliceblue;
}

@media(max-width: 768px)
{
	.text h1{
		font-size: 30px;
		line-height: 40px;
	}
	.p-home{
		padding-top: 40px;
	}
	
}


.text h1 span{
	font-weight: 600;
}

.text p{
	font-size: 16px;
	line-height: 30px;
	
	
}
/* End Text */

/* Title Sections */

.bg-section-about{
	background-image: url(../img/bg-about.jpg);
	background-position: bottom;
	background-repeat: no-repeat;
	padding: 3rem;
	color: white;
	margin-bottom: 30px;
	z-index: 1;
}

.bg-section-service{
	background-image: url(../img/bg-service.jpg);
	background-position: bottom;
	background-repeat: no-repeat;
	padding: 3rem;
	color: white;
	margin-bottom: 30px;
	z-index: 1;
}

.bg-section-contact{
	background-image: url(../img/bg-price.jpg);
	background-position: bottom;
	background-repeat: no-repeat;
	padding: 3rem;
	color: white;
	z-index: 1;
}


.section-opacity{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width:100%;
	background-color: rgba(2,22,79,0.6);
	z-index: -2;
	
}
/* End Title Sections */

/* Buttons */
.button{
	position: relative;
	color: aliceblue;
	width: 200px;
	padding: 15px;
	border: 2px solid aliceblue;
	text-align: center;
	overflow: hidden;
	transition: .5s;
	
}

.button:after{
	content: '';
	width: 0;
	height: 120%;
	position: absolute;
	left: -10%;
	bottom: 0;
	background-color: aliceblue;
	transform: skewX(15deg);
	z-index: -1;
	transition: .5s;
}

.button:hover{
	cursor: pointer;
	color: #02164f;
	text-decoration: none;
}

.button:hover:after{
	left: -10%;
	width: 120%;
}
/* End Buttons */


/* Contact */
.bg-contact{
	position: relative;
	background: #3498DB linear-gradient(to right, rgba(0,0,0,.25), transparent);
	height: 140px;
	color: aliceblue;
	cursor: pointer;
}

.bg-contact i{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	font-size: 30px;
	line-height: 140px;
	background: #02164f;
	z-index: 1;
	transition: transform 0.6s;
}

.bg-contact span{
	position: absolute;
	width: 100%;
	left: 0;
	bottom: 0;
	padding: 10px 0;
}

.bg-contact:hover i{
	transform: translateY(-40px);
}
/* End Contact */

/* About */
.about-p{
	padding: 2rem;
	position: relative;
	color: aliceblue;
	font-size: 16px;
	counter-increment: p;
	margin: 0;
}

.about-p:before{
	content: counter(p,decimal-leading-zero);
	display: block;
	text-aling: center;
	font-size: 4em;
	z-index: -1;
}

.about-p:after{
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: #3498DB linear-gradient(to right, rgba(0,0,0,.25), transparent);
	z-index: -1;
	mix-blend-mode: screen;
}

@media (min-width: 33em){
	.about-p{
		display: flex;
		align-items: center;
	}
	.about-p:before{
		padding: 0 0.5em 0 0;
		border-radius: 50%;
		box-shadow: 45vw 1.5rem 2em 0.5em rgba(0,0,0,0.3);
	}
	
	.about-p:nth-child(odd){
		flex-direction: row-reverse;
	}
	.about-p:nth-child(odd):before{
		box-shadow: -45vw 1.5rem 2em 0.5em rgba(0,0,0,0.3);
		padding: 0 0 0 0.5em;;
	}
	.about-p:nth-child(odd):after{
		background-image: linear-gradient(to left, rgba(0,0,0,0.25), transparent);
	}
}

@media(min-width: 50em){
	.about-wrap{
		padding: 0 10rem;
		margin: 0 2rem;
	}
	.about-p{
		margin: 0 -10rem 0 0;
	}
	.about-p:after{
		transform: skew(-25deg);
	}
	.about-p:nth-last-child(-n+2){
		margin: 0 0 0 -10rem;
	}
}
/* End About */


/* Services */
.project {
  	margin-top: 40px;
	margin-bottom: 40px;
}

.project__image {
  display: block;
  position: relative;
}

.project__image img {
  width: 100%;
  max-width: 100%;
  display: block;
}

.project__image:after {
  content: " ";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.4));
  transition: opacity .3s ease;
  opacity: 0;
}

.project__card {
  position: relative;
  will-change: transform;
  transition: box-shadow .3s ease;
  box-shadow: 0 10px 30px transparent;
}

.project__card.hover-in {
  transition: -webkit-transform .2s ease-out;
  transition: transform .2s ease-out;
  transition: transform .2s ease-out, -webkit-transform .2s ease-out;
}

.project__card.hover-out {
  transition: -webkit-transform .2s ease-in;
  transition: transform .2s ease-in;
  transition: transform .2s ease-in, -webkit-transform .2s ease-in;
}

.project:hover .project__card { box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4); }

.project:hover .project__image:after { opacity: 1; }

.project:hover .project__detail {
  border-width: 10px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
}

.project:hover .project__title, .project:hover .project__category {
  -webkit-transform: translateY(0) scale(1);
  -ms-transform: translateY(0) scale(1);
  transform: translateY(0) scale(1);
  opacity: 1;
}

.project__detail {
  position: absolute;
  left: 30px;
  right: 30px;
  top: 30px;
  bottom: 30px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  pointer-events: none;
  -webkit-transform: translateZ(30px);
  transform: translateZ(30px);
  border: 0 solid #3498DB;
  transition: border .4s ease;
}

.project__title {
  margin: 0 0 10px;
  font-size: 36px;
  font-weight: 700;
  transition: .4s ease;
  opacity: 0;
  -webkit-transform: translateY(40px) scale(0);
  -ms-transform: translateY(40px) scale(0);
  transform: translateY(40px) scale(0);
  will-change: transform;
}

.project__title a { color: white; }

.project__category {
  opacity: 0;
  transition: .4s ease;
  transition-delay: .1s;
  -webkit-transform: translateY(40px) scale(0);
  -ms-transform: translateY(40px) scale(0);
  transform: translateY(40px) scale(0);
  will-change: transform;
}

.project__category a {
  color: rgba(255, 255, 255, 0.8);
  font-size: 1.3em;
}
/* End Services */

/* Testimonial */
.wrap{
	margin-top: 80px;
	margin-bottom: 80px;
}
.testimonial-box{
	position: relative;
	padding: 40px;
	transition: 0.5s;
	text-align: center;
	background: #F7F5F5;
}

.testimonial-box:hover{
	background: #3498DB linear-gradient(to right, rgba(0,0,0,.25), transparent);
}

.testimonial-box p{
	margin: 0;
	padding: 0;
	transition: 0.5s;
	font-size: 16px;
	color: #A3BCDB;
	
}
.testimonial-box h4{
	margin: 5px 0 0px;
	padding: 0;
	transition: 0.5s;
	font-size: 18px;
	color: #02164f;
	font-weight: 700;
	line-height: 20px;
	text-transform: uppercase;
}
.testimonial-box h4 span{
	font-weight: 600;
	font-size: 14px;
	color: #A3BCDB;
	transition: 0.5s
}
.testimonial-box:hover p,
.testimonial-box:hover h4,
.testimonial-box:hover span{
	color: #fff;
}

.testimonial-box .imgBox{
	position: absolute;
	top: -80px;
	left: 50%;
	transform: translateX(-50%);
	width: 120px;
	height: 120px;
	border-radius: 50%;
	overflow: hidden;
}

.testimonial-box:before{
	content: '';
	position: absolute;
	top: 20px;
	right: 40px;
	width: 45px;
	height: 32px;
	background: url(../img/quote.png);
	background-size: cover;
	opacity: 0.05;
	pointer-events: none;
	transition: .5s;
}
.testimonial-box:hover:before{
	transform: translateY(-40px);
	opacity: 1;
}

.testimonial-box:after{
	content: '';
	position: absolute;
	bottom: 20px;
	left: 40px;
	width: 45px;
	height: 32px;
	background: url(../img/quote.png);
	background-size: cover;
	opacity: 0.05;
	pointer-events: none;
	transition: .5s;
	transform: rotate(180deg) translateY(0px);
}
.testimonial-box:hover:after{
	transform: rotate(180deg) translateY(-40px);
	opacity: 1;
}
/* Testimonial */

/* Footer */
.bg-top-footer{
	position: relative;
	background: #3498DB linear-gradient(to right, rgba(0,0,0,.25), transparent);
	padding: 10px 10px 0px 10px;
	z-index: 1;
	
}
.bg-footer{
	background-color: #02164f;
	padding: 50px 50px 0px 50px;
	color: aliceblue;
}

footer h6{
	color: aliceblue;
}

.nav-footer ul{
	list-style: none;
	
}

.nav-footer ul li{
	margin-bottom: 5px;
	margin-left: -35px;
	
}

.nav-footer ul li a{
	color: aliceblue;
	text-decoration: none;
}

.nav-footer ul li a:hover{
	color: aliceblue;
}
/* End Footer */
